## Getting actual data from the website www.howstat.com

In [18]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import re

In [2]:
base_url = "http://howstat.com/cricket/Statistics/IPL/PlayerList.asp"

In [3]:
get_base_url = requests.get(base_url)
get_base_url

In [5]:
base_soup = BeautifulSoup(get_base_url.text, "html.parser")

In [78]:
player_data_in_one_color_1 = base_soup.findAll("tr",{"bgcolor":"#FFFFFF"})

In [73]:
dict = {"Name":[],"Teams":[],"Matches":[],"Runs":[],"Bat Avg":[],"Wickets":[],"Bowl Avg":[]}

In [74]:
keys = list(dict.keys())
len(keys)

7

In [75]:
for single in player_data_in_one_color_1:
    text = single.text
    text = re.sub('\n', '', text)
    text = re.sub('\t', '', text)
    text = text.split('\r')
    text = [i for i in text if i]    
    for i in range(len(text)):
        if(text[i] == '\xa0'):
            dict[keys[i]].append("")
        else:
            dict[keys[i]].append(text[i])
print(len(dict['Name']))
print(len(dict['Teams']))
print(len(dict['Matches']))
print(len(dict['Runs']))
print(len(dict['Bat Avg']))
print(len(dict['Wickets']))
print(len(dict['Bowl Avg']))

329
329
329
329
329
329
329

In [77]:
player_data_in_one_color_2 = base_soup.findAll("tr",{"bgcolor":"#E3FBE9"})

In [79]:
for single in player_data_in_one_color_2:
    text = single.text
    text = re.sub('\n', '', text)
    text = re.sub('\t', '', text)
    text = text.split('\r')
    text = [i for i in text if i]    
    for i in range(len(text)):
        if(text[i] == '\xa0'):
            dict[keys[i]].append("")
        else:
            dict[keys[i]].append(text[i])
print(len(dict['Name']))
print(len(dict['Teams']))
print(len(dict['Matches']))
print(len(dict['Runs']))
print(len(dict['Bat Avg']))
print(len(dict['Wickets']))
print(len(dict['Bowl Avg']))

657
657
657
657
657
657
657

In [80]:
df = pd.DataFrame.from_dict(dict)

In [81]:
df

,Name,Teams,Matches,Runs,Bat Avg,Wickets,Bowl Avg
0,V R Aaron,"DDV, RCB, KXI, RRO, GTI",52,50,10.00,44,33.66
1,S A Abbott,"RCB, SUN",3,22,7.33,1,104.00
2,Y A Abdulla,KXI,11,0,,15,20.47
3,Abhishek Sharma,"DDV, SUN",36,667,23.82,7,30.57
4,A B Agarkar,"KKR, DDV",42,179,17.90,29,39.69
...,...,...,...,...,...,...,...
652,S A Yadav,"MIN, KKR",123,2644,30.05,0,
653,D H Yagnik,RRO,25,170,17.00,0,
654,V S Yeligati,MIN,2,2,2.00,0,
655,Yuvraj Singh,"KXI, PWI, RCB, DDV, SUN, MIN",132,2750,24.77,36,29.92
656,V H Zol,RCB,3,29,14.50,0,

In [84]:
for i in keys:
    df[i].replace('0',np.nan,inplace=True)

In [85]:
df

,Name,Teams,Matches,Runs,Bat Avg,Wickets,Bowl Avg
0,V R Aaron,"DDV, RCB, KXI, RRO, GTI",52,50,10.00,44,33.66
1,S A Abbott,"RCB, SUN",3,22,7.33,1,104.00
2,Y A Abdulla,KXI,11,NaN,NaN,15,20.47
3,Abhishek Sharma,"DDV, SUN",36,667,23.82,7,30.57
4,A B Agarkar,"KKR, DDV",42,179,17.90,29,39.69
...,...,...,...,...,...,...,...
652,S A Yadav,"MIN, KKR",123,2644,30.05,NaN,NaN
653,D H Yagnik,RRO,25,170,17.00,NaN,NaN
654,V S Yeligati,MIN,2,2,2.00,NaN,NaN
655,Yuvraj Singh,"KXI, PWI, RCB, DDV, SUN, MIN",132,2750,24.77,36,29.92
656,V H Zol,RCB,3,29,14.50,NaN,NaN

In [86]:
df.to_csv('IPL All Player Data.csv', index=False)